{{#each model as |image|}}
  <li class="image-thumbnail">
    <img src="{{image.url}}" alt="" />
    <a href="{{image.url}}">{{image.title}}</a>
  </li>
{{/each}}


{{link-to "Create" 'image.create'}}
